hugo-memo-dev:
    image: nutsllc/toybox-nginx:1.15.7-alpine
    volumes:
        - ../public:/usr/share/nginx/html
    environment:
        - VIRTUAL_HOST=memo.ontheroad.jp
        - LETSENCRYPT_HOST=memo.ontheroad.jp
        - LETSENCRYPT_EMAIL=dev@nutsllc.jp
        - PROXY_CACHE=false
    ports:
        - "80"
